.upper_main{
    padding: 10px 0 0 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 208, 255);
    height: 50px;
    font-family: Calibri;
    border-radius: 10px;
}